html {
  margin: 0;
}

main {
  min-height: 80vh;
}

body {
  background-color: #dcdce3;
  font-family: "Fira Sans Condensed", sans-serif;
  /* font-family: "Merriweather Sans", sans-serif;
  font-family: "Prata", serif;
  font-family: "Acme", sans-serif; */
}
/* 
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
} */

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.leaflet-container {
  height: 70vh;
  width: 100%;
  border: 2px solid black;
}

.category_tab {
  margin: 10px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(112, 96, 96, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

.category_tab_selected {
  margin: 3px;
  border-radius: 25px;
  transform: scale(1.1);
  box-shadow: 2px 15px 20px black;
  cursor: pointer;
}

.category_tab_img {
  height: 200px;
  width: 100%;
  border-radius: 25px;
}

.product_card {
  box-shadow: 0 2px 15px black;
  background-color: rgb(226, 188, 188);
}

.product_card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px black;
}

.product_card_title {
  color: rgb(34, 34, 34);
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.product_edit_form {
  background-color: wheat;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(64, 2, 136, 0.3) 0px 18px 36px -18px inset;
}

.product_order_form {
  background-color: rgb(154, 252, 255);
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(64, 2, 136, 0.3) 0px 18px 36px -18px inset;
}

.user_profile_form {
  background-color: rgb(154, 252, 255);
  padding: 20px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(64, 2, 136, 0.3) 0px 18px 36px -18px inset;
}

.checkout_steps {
  background-color: rgb(255, 210, 210);
  border-radius: 50px;
}

.homepage_images {
  margin: 0;
  padding: 0;
  width: 100%;
  transition: transform 1s ease;
}

.homepage_img_col {
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.homepage_images:hover {
  transform: scaleX(0.5);
  transform: scaleY(0.5);
  transform: scale(0.8);
  transform: scale(0.8);
}
.category_tab_text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 40px;
  color: yellow;
  text-shadow: 5px 5px 5px black;
}

.homepage_text_col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 15px;
}

.credit_card_text {
  color: #f6d13a;
}
.homepage_text {
  width: 100%;
  color: rgb(0, 0, 0);
}

.homescreen_text {
  width: 100%;
  color: rgb(255, 255, 255);
}

.homepage_intro_text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: rgb(40, 37, 48);
}

.homepage_intro_subtext {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

.homepage_row {
  margin: 0;
  padding: 0;
}

.logo_div {
  display: flex;
  flex-direction: row;
}

.logo_div img {
  margin-left: 5px;
  color: yellow;
}

.navbar {
  background-color: white;
  font-family: "Merriweather Sans", sans-serif;
}

.filter_text {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.filter_btn_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.list_item {
  font-family: "Merriweather Sans", sans-serif;
}

.common_btn {
  background-color: #f6d13a;
  color: rgb(40, 37, 48);
  padding: 10px;
}

.cart_row {
  width: 100%;
  height: 100vh;
}

.cart_left_side {
  margin: 0;
  background-color: rgb(40, 37, 48);
  color: #f6d13a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.cart_left_side_heading {
  font-family: fantasy;
  font-size: 80px;
}

.cart_left_side_subheading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 15px;
}

.cart_right_side {
  font-family: "Merriweather Sans", sans-serif;
}

.login_left_side {
  margin: 0;
  background-color: rgb(40, 37, 48);
  color: #f6d13a;
  text-align: center;
  padding: 15px;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.login_image {
  margin: 0;
  padding: 0;
  width: 100%;
}

.login_right_side {
  margin: 0;
  width: 100%;
  padding-top: 15px;
}

.profile_col {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.product_image {
  width: 100%;
}

.full-screen-video-container {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.full-screen-video-container video {
  z-index: -1;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-screen-video-content {
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 5px 10px rgb(0, 0, 0);
}

.full-screen-video-content h2 {
  font-size: 70px;
}

.full-screen-video-content p {
  font-size: 35px;
}

.full-screen-video-content Link {
  text-shadow: none;
}
